[user]
	name = Harry Cutts
	email = eternal.linux@gmail.com
[core]
	editor = vim
	excludesfile = ~/.dot/gitignore
[pager]
	branch = false
[pull]
	ff = only
[push]
	default = simple
[include]
	path = ~/.gitconfig.local
